@mixin make-fonts($name, $url-name, $weight, $style) {
    @font-face {
        font-family: $name;
		src: local('#{$name}'),
            url('#{$def-url}fonts/#{$url-name}.woff') format('woff'),
            url('#{$def-url}fonts/#{$url-name}.ttf') format('ttf');
        font-weight: $weight;
        font-style: $style;
    }
}

@each $font-name in map-keys($font-list) {
  @include make-fonts(nth(map-get($font-list, $font-name), 1), nth(map-get($font-list, $font-name), 2), nth(map-get($font-list, $font-name), 3) ,nth(map-get($font-list, $font-name), 4));
}